@font-face {
  font-family: 'ubunturegular';
  src: url("../font/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: 'ubuntulight';
  src: url("../font/Ubuntu-Light.ttf");
}
@font-face {
  font-family: 'ubuntuMedium';
  src: url("../font/Ubuntu-Medium.ttf");
}
body{
  background-image: url(../img/ligne.svg);
}

.header-container {
  height: 100px;
  width: 100%;
  justify-content: space-between;
  display: flex;

  &-logo {
    height: 100vh;
    cursor: pointer;
    box-shadow: 0 7px 16px 2px rgba(0,0,0,0.08);
    width: 110px;

    &-back {
      width: 110px;
      height: 90px;
      background-color: #ededed;

      &-img {
        font-size: 20px;
      }
    }
  }

  &-icons {
    width: 10%;
    opacity: 0.8;
    display: flex;
    margin-right: 100px;
    margin-top: 45px;
    justify-content: space-around;

    &-search-img {
      cursor: pointer;
      width: 20px;
      height: auto;
    }

    &-account-img {
      cursor: pointer;
      width: 20px;
      height: auto;
    }

    &-market-img {
      cursor: pointer;
      width: 20px;
      height: auto;
    }
  }
}

.body-container {
  display: flex;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  font-family: 'Ubunturegular';
  margin-top: 100px;

  &-product {
    background-size: 400px auto;
    background-image: url("../img/rond.svg");

    &-img {
      width: 400px;
      height: auto;
      margin-top: 40px;
    }
  }

  &-content {
    margin-left: 100px;

    &-section {
      display: flex;
      margin-top: 30px;
    }

    &-title {
      margin-bottom: 60px;
      font-family: "Ubuntulight";
      font-size: 72px;
    }

    &-description {
      font-size: 14px;
      font-family: "Ubuntulight";
      opacity: 0.8;
      line-height: 20px;
    }

    &-price {
      margin-top: 35px;
      font-family: "Ubuntulight";

      &-text {
        font-size: 13px;
        opacity: 0.8;
      }

      &-doll {
        margin-top: 5px;
        font-size: 25px;
      }
    }

    &-count {
      height: 40px;
      width: 140px;
      font-family: "Ubuntulight";
      display: flex;
      background-color: white;
      justify-content: space-around;
      margin-left: 180px;
      margin-right: 40px;
      border: 0.8px solid #dadada;

      &-text {
        font-size: 12px;
        margin-left: 20px;
        margin-top: 12px;
      }

      &-left {
        margin-top: 10px;
        font-family: "Ubuntulight";
        height: 100%;
        cursor: pointer;
        width: auto;

        &:hover {
          transition: all 0.2s ease-out;
          color: red;
        }
      }

      &-more {
        margin-top: 10px;
        height: 100%;
        cursor: pointer;
        width: auto;

        &:hover {
          transition: all 0.2s ease-out;
          color: red;
        }
      }

      &-screen {
        margin-top: 10px;
        height: 100%;
        width: auto;
      }

      &-add {
        cursor: pointer;
        font-family: "ubuntuMedium";
        background-color: #ededed;
        width: 120px;

        &:hover {
          background-color: black;
          transition: all 0.2s ease-out;
          color: white;
        }
      }

      &-text {
        font-size: 14px;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.main-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
}
