@font-face {
  font-family: 'ubunturegular';
  src: url("../font/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: 'ubuntulight';
  src: url("../font/Ubuntu-Light.ttf");
}

@font-face {
  font-family: 'ubuntuMedium';
  src: url("../font/Ubuntu-Medium.ttf");
}

.main-wrapper {
  font-family: 'ubuntulight';
  margin-top: 20px;
}

body {
  background-image: url(../img/ligne.svg);
  background-size: 100vw auto;
}

.addSign {
  color: black;
}

.form {
  display: block;
}
.title {
  margin-left: 30px;
}


input {
  background-color: #ededed;
  display: block;
  padding: 13px 25px;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 12px;
  border: 1px solid #fff;
}

.Yes:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.top {
  width: 60%;
  display: flex;
}

.tabs {
  background-color: white;
  width: 600px;
  margin: 50px auto;
  height: 300px;
}

.tabs nav {
  display: flex;
}

.tabs nav a {
  width: 100%;
  height: 50px;
  font-family: 'ubuntulight';
  line-height: 50px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.tabs nav a.is-active, .tabs nav a:hover {
  background: black;
  color: white;
  transition: all 0.2s ease-out;
}

.tabs-content {
  display: none;
}

.tabs-content.is-active {
  display: block;
}

.tabs-content::first-letter {
  font-size: 20px;
}
